@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}
/* Add this to your existing style.css */
body {
    background: #0f0913 url('../images/regshow.jpg') no-repeat center center / cover fixed;
    font-family: 'Roboto Mono', monospace;
}


nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #1d1023;
    height: 50px; /* Set the thickness of the nav bar */
    border-radius: 15px;

    margin-top: 2px;
    margin-bottom: 5px;
}
nav a {
    color: #a15ba1;
    font-family: 'Optima', sans-serif;
    font-size: 14px;
    padding: 5px 20px;
    transition: color 0.3s ease-in-out;
}
nav a:hover {
    color: #01579b;
}

.info {
    text-align: center;
    color: #a184b2;
    padding: 20px;
 }
.info h1{
    margin-top: 100px;
    margin-bottom: 80px;
}
.info p{
    margin-top: 0;
    margin-bottom: 30px;
}

.glider-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:200px;

    margin-top: 80px;
}
.row-image {
    background-image: url('../images/glider.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.row-image2 {
    background-image: url('../images/glider2.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.row-image3 {
    background-image: url('../images/glider3.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-card {
    background: #766a88; /* white background for the card */
    margin: 30px auto 100px; /* top and horizontal margins are 30px, bottom margin is 100px */
    padding: 20px;
    width: 500px; /* adjust as needed */
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(182, 19, 125, 0.6); /* Shadow effect */
}



.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 90%;
    margin: 10px auto;
}

.contact-form label {
    color: #211628;
}
.contact-form h1 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form input[type="submit"] {
    background: #1d1023; /* same as your index.html */
    color: #a184b2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background: #3a143a; /* lighter purple on hover */
}

/* Footer styles */
footer {
    background-color: #1d1023;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color: #a15ba1;

}
footer a:hover {
    color: #424242; /* dark gray */
}
